// Function styles goes here
@each $key, $value in $cards {
    .card-#{$key} {
        .card-icon-container {
            &-box {
                background-color: lighten($color: $value, $amount: 30%);

            }
        }
        & .icon {
            color: $value;
        }
        &.card {
            &:hover {
                background-color: $value;
                color: white;
                .chart-up{
                    color: white;
                }
                .chart-down{
                    color: white;
                }
                .icon {
                    color: white;
                }
                .card-icon-container {
                    &-box {
                        background-color: lighten($color: $value, $amount: 5%);
        
                    }
                }
            }
        }
    }
}