// All the SCSS mixins goes here
@mixin position ($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top     : $top;
    right   : $right;
    bottom  : $bottom;
    left    : $left;
}
@mixin flex ($shrink: auto, $grow: auto, $basis: auto) {
    flex: $shrink $grow $basis;
}

// Media query Mixins
@mixin media-query($size) {
    @if $size == mobile {
      @media (max-width: 576px) { @content; }
    } @else if $size == mobile-wide {
      @media (max-width: 776) { @content; }
    } @else if $size == tablet {
      @media (max-width: 991px) { @content; }
    } @else if $size == tablet-x {
      @media (max-width: 1200px) { @content; }
    } @else if $size == laptop {
      @media (max-width: 1440px) { @content; }
    }
  }