// Button styles goes here
.search-btn {
    width: 83px;
    height: 36px;
    padding: 0 15px;
    border-style: none;
    color: $white;
    background-color: $primary;
   
}
@include media-query (mobile) {
    .search-btn {
        display: none;
    }
}