// Form controls styles goes here
.search {
    @include position (relative);
    margin-left: 36px;
    &-icon {
        @include position (absolute, 10px, auto, auto, 9px);
        // position: absolute;
        color: $icon-color;
    }
    &-input {
        height: 36px;
        width: 300px;
        text-indent: 30px;
        border-style: none;
        background-color: $input-bg;
    }
    
}
@include media-query (mobile) {
    .search {
        margin-left: 0;
        &-input {
            width: 150px;
            text-indent: 5px;
        }
        &-icon {
            display: none;
        }
    }
    
}
