.table-graph-wrapper {
   // height: $table-height;

   .table-wrapper {
      // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.233);
      width: $width/2 + 15;
      height: $table-height;
      //  padding: 20px;
    //    border: 1px solid red;
       table {
          width: $width;
          padding: 0 2*$table-padding-10px;
         // border-collapse: separate;
         // border: 1px solid black;
         border-spacing: 0 10px;
         // text-align: center;
         table-layout: $table-layout-fixed;
         background-color: $white;
         // border: 2px solid red;
         // thead th{
         //    text-align: center;
         // }
       }
       .table-body {
         //  table-layout: fixed;
          background-color: $white;
         //  height: 100%;
         // overflow: scroll;
          td {
            //    border-bottom: 1px solid green;
               background-color: $table-row-bg;
            //    margin: 10px 0;
            padding: $table-padding-10px 0;
               &:last-child {
                   padding-right: $table-padding-10px;
                //    border-right: 1px solid green;
               }
               &:first-child {
                // border-left: 1px solid green;
                padding-left: $table-padding-10px;
               }   
            }
       }
       img {
          width: $img-width;
         //  height: 40px;
       }
       th {
          padding-bottom: $table-header-padding-bottom;
          text-align: $text-align;
       }
       
    }
    .graph {
         margin-left: 20px;
         background-color: $white;
    }
}
@include media-query (mobile) {
   .table-graph-wrapper {
      .table-wrapper {
         width: 100%;
      }
      .graph {
         margin-left: 0;
      }
   }
}
@include media-query (tablet) {
   .table-graph-wrapper {
      .table-wrapper {
         width: 100%;
      }
      .graph {
         margin-left: 0;
      }
   }
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}